[Desktop Entry]
Name=Whether
Comment=Weather forecasts, air quality and alerts
Comment[pl]=Prognozy pogody, jakość powietrza i ostrzeżenia pogodowe
Type=Application
Exec=cosmic-ext-whether
Terminal=false
Categories=Utility;X-Cosmic;
Icon=com.github.nwxnw.cosmic-ext-whether-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
